body{
  background-color: #222;
}
.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 500px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
* {
 box-sizing: border-box;
}
#content {
 width: 580px;
 height: 720px;
 margin: 0 auto;
}
.editor {
 height: 480px;
 background-color: #5e7c87;
 border: 1px solid grey;
 padding: 6px;
}
.Brand{
 color: white;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
