body{
  /*background-color: #4b5463;*/
  background-image: url(aesthetikBackground.svg);
  background-size: cover;
}
.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 500px;
}

.App-header {
  background-color: #343b3d;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
* {
 box-sizing: border-box;
}
#content {
 width: 580px;
 height: 720px;
 margin: 0 auto;
}
.editor {
 height: 480px;
 background-color: #5b5f66;
 border: 1px solid grey;
 padding: 6px;
 /*opacity: 0.8;*/
}
.Brand {
 color: white;
}
.CarouselImage{
  height: 100%;
  width: 100%;
}

.jumbotronStyle{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 60%;
  background-color: #343b3d;
  opacity: 0.8;
  color: #bddaed;

}

#NavHead {
  padding-top: 50px;
  min-height: ~"calc(100vh - 92px)";
}

./*MainButton {
  background: url(./bigButton.svg) no-repeat center center;
  width: 100px;
  height: 100px;
}
*/
.EditorTitle {
  font-family: Georgia, serif;
  color: white;
   text-align: center;
}

footer {
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
