body{
  /*background-color: #4b5463;*/
  background-image: url(aesthetikBackground.svg);
  background-size: cover;
}

.App {
 min-height: 100%;
 padding-bottom: 100px;
 text-align: center;
 background-repeat: no-repeat;
 background-attachment: scroll;
 font-family: 'Ubuntu', sans-serif;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  opacity: 0.8;

}

#content {
 width: 680px;
 height: 720px;
 margin: 0 auto;
}
.editor {
 color: white;
 min-height: 480px;
 background-color: #5b5f66;
 border: 1px solid grey;
 border-radius: 15px;
 padding: 6px;
 box-shadow: 10px 5px 5px -2px #3a3b3d;
 opacity: 0.9;
}
.Brand {
 color: white;
}
.CarouselImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75%;
  width: 70%;
}

.jumbotronStyle{

  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 60%;
  height: 60%;
  background-color: #343b3d;
  opacity: 0.8;
  color: #bddaed;

}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#NavHead {
  padding-top: 10px;
  }

.MainButton {
  
/*  background: url(./bigButton.svg) no-repeat center center;
  background-size: cover;*/
  width: 100px;
  height: 40px;
}

.EditorTitle {
 /* font-family: Georgia, serif;*/
  color: white;
  text-align: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.in-row {
  display:flex; 
  flex-direction:row;
}

.modal-container {
  position: relative;

}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

footer,
.push {
  height: 50px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  
  background: #222;

  color: white;
  border-radius: 0 !important;
  border-bottom: 0;
  margin: 20px 0 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
  font-family: 'Ubuntu', sans-serif;
}