
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NodeResult</title>
    <h2>@Html.Raw(ViewData["NodeResult"])</h2>
</head>
<body>
</body>
</html>
